/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    top: 0px;
    z-index: 1;
    position: sticky;
}
.navbar.navbar-inverse {
    margin: 0;
    position: sticky;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 100%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    min-height: 100%;
    height: 90vh;
    bottom: 0px;
}

.html {
    margin: 0px;
    height: 100%;
    background-color: #ffcc00;
}

.body {
    margin: 0px;
    height: 90vh;
    text-align: left;
}

.body-image {
    min-width: 20%;
}

.body-content {
    min-width: 80%;
}

/* Set gray background color and 100% height */
.sidenav-left {
    background-color: #f1f1f1;
    padding-top: 50px;
    left: 0px;
    text-align: center;
    height: 90vh;
}


.sidenav-right {
    background-color: #f1f1f1;
    padding-top: 50px;
    right: 0px;
    text-align: center;
    height: 90vh;
}



.container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    text-align: left;
    width: 100%;
}

/* figure out how to center the fucking text*/

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    width: 100%;
    color: white;
    padding: 10px;
    margin-bottom: 0;
    position: sticky;
    left: 0px;
    bottom: 0px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav-left {
        display: none;
    }

    .navbar.navbar-inverse {
        position: sticky;
    }

    footer {
        height: auto;
        position: sticky;
    }

    .sidenav-right {
        display: none;
    }

    .body.image {
        display: none;
    }

    .row.content {
        height: auto;
    }
}